@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.main .content,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #faf3eb;
    line-height: 2;
}

.navbar-container {
    position: relative;
    width: 100px;
    padding: 30px 0;
    background-color: #faf3eb;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav-item {
    margin: 0 30px;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    font-family: 'SpaceMono', monospace;
    font-weight: 100;
    color: #A3A1A0;
}

.nav-link.activetext {
    color: black;
    font-weight: bold;
}

.progress-indicator {
    width: 20px;
    height: 20px;
    border: 3px solid #d9d9d9;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d9d9d9;
}

.progress-indicator.active {
    background-color: #f85656;
    border-color: #f85656;
}

.hero {
    text-align: center;
    padding: 50px;
}

.hero-title {
    font-size: 5.25rem;
    font-weight: bold;
    margin: 0;
    font-family: 'SpaceMono', monospace;
}

.hero-subtitle {
    color: #d9534f;
    font-style: italic;
}

.author-box {
    display: block;
    border: 2px solid #333;
    background-color: lightgray;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
}

.author-names {
    font-style: italic;
    color: black;
}

.intro-box {
    display: block;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.intro-text {
    margin: 20px 0;
    color: #555;
    font-size: 1.25rem;
    font-family: 'Poppins';
}

.next-arrow {
    width: 60px;
    color: #333;
    cursor: pointer;
    position: fixed;
    bottom: 35px;
    right: 30px;
    z-index: 1000;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    font-size: 26px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 600;
}

.section-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('path/to/your/black-flower-icon.png') no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.common-items {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 20px;
    font-family: 'Poppins';
}

.common-items li {
    margin-bottom: 10px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    text-align: center;
}

.progress-indicator.active {
    background-color: #f85656;
}

.strat-title {
    font-family: 'SpaceMono', monospace;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.caption {
    font-family: 'Poppins';
    text-align: center;
}

.content {
    padding: 20px;
}

.quiz-result-container {
    text-align: center;
    margin-top: 50px;
}

.quiz-result-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.quiz-result-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.quiz-score {
    font-weight: bold;
    color: #f85656;
}

.quiz-retake-button {
    display: inline-block;
    text-decoration: none;
    background-color: #f85656;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.quiz-retake-button:hover {
    background-color: #f85656;
}

.strategies-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 250px 250px;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.strategy {
    background-color: rgb(243, 243, 243);
    border: 0.5px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Poppins';
}

.strat-img-container {
    width: 100%;
    text-align: center;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.strat-heading {
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1.3px;
}

button {
    border: 0.5px solid black;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    font-family: 'Poppins';
    cursor: pointer;
    font-size: larger;
}

button-expand.active {
    background-color: lightgray;
}

.strat-heading-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-left: 40px;
}

.strat-page-heading {
    flex: 1;
    padding-left: 20px;
    margin-left: 40px;
}

.strat-page-img {
    display: inline-block;
    width: 400px;
    margin-left: 100px;
}

.rounded-img {
    border: 0.5px solid black;
    border-radius: 20px;
}

.strategy-title {
    font-size: 2rem;
    text-align: left;
    color: #2a2a2a;
    font-family: 'SpaceMono', monospace;
}

.strategy-description {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    color: #4a4a4a;
    font-family: 'SpaceMono', monospace;
}

.body-text {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50rem;
    font-family: 'Poppins';
    font-size: 1em;
}

.flowchart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.flowchart-heading {
    font-family: 'SpaceMono', monospace;
    font-size: 1.3rem;
    font-weight: bold;
    color: #2a2a2a;
    margin-top: 30px;
}

.decision-box,
.response-box {
    padding: 20px;
    border: 0.5px solid #000;
    text-align: center;
}

.response-box {
    width: 40%;
    background-color: #ccccff;
    cursor: pointer;
}

.response-box.active {
    background-color: #aaaacc;
}

.back-arrow a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Poppins';
    margin-left: 30px;
}

.back-arrow svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.flowchart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.flow-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.decision-box,
.response-box {
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

.response-box-first {
    width: 40%;
    background-color: #ccccff;
    padding: 20px;
    border: 0.5px solid #000;
    border-radius: 20px;
    text-align: center;
    font-family: 'Poppins';
}

.decision-box.negative {
    background-color: #f8d7da;
    cursor: pointer;
}

.decision-box.positive {
    background-color: #d4edda;
    cursor: pointer;
}

.decision-box.positive.active {
    background-color: #99cc99;
}

.decision-box.negative.active {
    background-color: #cc9093;
}

.response-box.small {
    width: 30%;
    background-color: #007BFF;
    color: white;
    border-color: #0056b3;
    cursor: text;
}

.response-box.large {
    width: 70%;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow.right,
.arrow.down {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow.right {
    transform: rotate(0deg);
}

.arrow.down {
    transform: rotate(90deg);
}

.hidden {
    display: none;
}

.blue-box {
    background-color: #007BFF;
    color: white;
    border: 0.5px solid #000;
    cursor: text;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    width: 400px;
}

.main .content {
    text-align: center;
}

.strategy-info {
    text-align: left;
    margin: 20px;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
    display: flex;
}

#button-expand {
    background: #D1C9BE;
    border: 0.5px solid black;
    margin: 10px;
    font-family: 'Poppins';
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.avoid-box {
    margin: 10px;
}

.collapsible {
    color: #000;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content-expand {
    padding: 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 20px;
    border: 0.5px solid #000;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

#button-expand.active:after {
    content: "\2796";
}

.breakdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breakdown {
    background: #D1C9BE;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 600px;
    font-family: 'Poppins';
    border: 0.5px solid #000;
}

.breakdown h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'MonoSpace', monospace;
}

.breakdown ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Poppins';
}

.breakdown ul li {
    margin: 5px 0;
}

.content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.imperf-content {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.info-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.strategy-section {
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins';
    margin-bottom: 80px;
}

.quiz-title {
    font-size: 1.5em;
    color: #333;
}

.quiz-form {
    display: flex;
    flex-direction: column;
}

.quiz-option {
    margin: 10px 0;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

.quiz-button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.quiz-button:hover {
    background-color: #4cae4c;
}