<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Avoid Strategy - Haggling 101</title>
</head>

<body>
    <div class="navbar-container">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">Home
                    <div class="progress-indicator"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/intro" class="nav-link">Intro
                    <div class="progress-indicator"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/strategies" class="nav-link activetext">Strategies
                    <div class="progress-indicator active"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/quiz" class="nav-link">Quiz
                    <div class="progress-indicator"></div>
                </a>
            </li>
        </ul>
        <div class="line"></div>
    </div>
    <main class="content">
        <div class="strat-heading-container">
            <div class="strat-page-img">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQorgkUa3tpR1AgALcjeKI31AKvV6aFK2GfBO7JlHdpH8x1HQ3e"
                    alt="Warning Sign" class="rounded-img">
            </div>
            <div class="strat-page-heading">
                <h1 class="strategy-title">DO NOT DO!</h1>
                <p class="strategy-description">BE CAREFUL OF WHAT YOU SAY OR SUGGEST.</p>
                <p class="body-text">Strategies will not be effective if you do any of the
                    following below. Press + to learn more.</p>
            </div>
        </div>

        <div class="strategy-section">
            <div class="strategy-info">
                <div class="avoid-box">
                    <button type="button-expand" id="button-expand" class="collapsible">
                        <h3>Reverse auctioning.</h3>
                    </button>
                    <div class="content-expand">
                        <p>If they offer $500, just coming back with saying "$300!" won't get you
                            anywhere.</p>
                    </div>
                </div>
                <div class="avoid-box">
                    <button type="button-expand" id="button-expand" class="collapsible">
                        <h3>Have 0 reason.</h3>
                    </button>
                    <div class="content-expand">
                        <p>You need to be able to back up your offer at least a little bit. Bring up
                            other places offering similar items for a price close to yours.</p>
                    </div>
                </div>
                <div class="avoid-box">
                    <button type="button-expand" id="button-expand" class="collapsible">
                        <h3>Be aggressive.</h3>
                    </button>
                    <div class="content-expand">
                        <p>You still want to be friendly and approachable. You're asking the business to do you a favor.
                            Make them WANT to cut you a deal by being friendly and open to negotiation.</p>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <div class="back-arrow">
        <a href="{{ url_for('strategies') }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
            Back to Strategies
        </a>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

</body>

</html>