<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Genuity Strategy - Haggling 101</title>
</head>
<body>
    <div class="navbar-container">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">Home
                    <div class="progress-indicator"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/intro" class="nav-link">Intro
                    <div class="progress-indicator"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/strategies" class="nav-link activetext">Strategies
                    <div class="progress-indicator active"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/quiz" class="nav-link">Quiz
                    <div class="progress-indicator"></div>
                </a>
            </li>
        </ul>
        <div class="line"></div>
    </div>
    <main class="content">
        <div class="strat-heading-container">
            <div class="strat-page-img">
                <img src="https://images.wsj.net/im-789267/?width=1278&size=1" alt="Genuinity Strategy"
                    class="rounded-img">
            </div>
            <div class="strat-page-heading">
                <h1 class="strategy-title">GENUITY</h1>
                <p class="strategy-description">If you're going to haggle, you should try to actually have a valid reason for why.</p>
                <div class="body-text">
                    <p>Is it because other stores have it at a more reasonable price?</p>
                    <p>Is it purely because you want a deal? (avoid this, this is basically just having no reason)</p>
                    <p>Is it because you like this store and want to see them get more revenue?</p>
                </div>
            </div>
        </div>

        <div class="breakdown-container">
            <div class="breakdown">
                <p>A clerk is more inclined to give you a discount if they genuinely believe they're helping you out, and all stores are not going to offer you a discount at a loss, so you're helping them out as well.</p>
            </div>
        </div>
    </main>

    <div class="back-arrow">
        <a href="{{ url_for('strategies') }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
            Back to Strategies
        </a>
    </div>
</body>
</html>
