<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
    <title>Haggling 101</title>
</head>

<body>
    <div class="navbar-container">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link activetext">Home
                    <div class="progress-indicator active"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/intro" class="nav-link">Intro
                    <div class="progress-indicator"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/strategies" class="nav-link">Strategies
                    <div class="progress-indicator"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/quiz" class="nav-link">Quiz
                    <div class="progress-indicator"></div>
                </a>
            </li>
        </ul>
    </div>
    <main>
        <section class="hero">
            <h1 class="hero-title">HAGGLING <span class="hero-subtitle">101</span></h1>
            <div class="author-box">
                <span class="author-names">ALLISON CUI, KEVIN MA, ASHESH AMATYA</span>
            </div>
            <div class="intro-box">
                <p class="intro-text">Haggling is one of the most useful skills you can have in life, as it can possibly
                    save you tens of thousands of dollars. This tutorial will teach you how to negotiate like a pro
                    without feeling bad about it.</p>
            </div>
            <div class="arrow-container">
                <svg class="next-arrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
        </section>
    </main>
    <script>
        document.querySelector('.next-arrow').addEventListener('click', function () {
            window.location.href = '/intro'; // Assuming this is the next tutorial step
        });
    </script>
</body>

</html>