<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>King Cash Strategy - Haggling 101</title>
</head>
<body>
    <div class="navbar-container">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">Home
                    <div class="progress-indicator"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/intro" class="nav-link">Intro
                    <div class="progress-indicator"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/strategies" class="nav-link activetext">Strategies
                    <div class="progress-indicator active"></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/quiz" class="nav-link">Quiz
                    <div class="progress-indicator"></div>
                </a>
            </li>
        </ul>
        <div class="line"></div>
    </div>
    <main class="content">
        <h1 class="strategy-title">King Cash Strategy</h1>
        <img src ="https://s.yimg.com/ny/api/res/1.2/.S3TrKqaiT2VtkqU4bOZEQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTM2MA--/https://media.zenfs.com/en/gobankingrates_644/f50c34755da41912a9f074896aeab0f9">  
        <p class="strategy-info">Offer cash. Businesses LOVE cash. Charging costs them money, so by offering cash, literally everyone (except Visa or whatever) wins. If you're going for a deep offer, offer it in cash. It makes it so much more appealing to the business. Also offer to pay in full, if you can. </p>
        <div class="breakdown">
            <h2>BREAKDOWN OF “SUCCESSFUL HAGGLES”</h2>
            <ul>
                <li>40% Car</li>
                <li>26% Bank Fees</li>
                <li>15% Rent</li>
                <li>5% Mortgage</li>
            </ul>
        </div>
    </main>
    <div class="back-arrow">
        <a href="{{ url_for('strategies') }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
            Back to Strategies
        </a>
    </div>
</body>
</html>
