<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Quiz - Haggling 101</title>
</head>
<body>
    <div class="navbar-container">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/intro" class="nav-link">Intro</a>
            </li>
            <li class="nav-item">
                <a href="/strategies" class="nav-link">Strategies</a>
            </li>
            <li class="nav-item">
                <a href="/quiz" class="nav-link activetext">Quiz</a>
            </li>
        </ul>
    </div>
    <main class="content">
        <h1>{{ question_data.question }}</h1>
        <form method="POST" action="{{ url_for('submit_answer', index=index) }}">
            {% for choice in question_data.choices %}
            <div>
                <input type="radio" name="choice" value="{{ choice }}" id="choice-{{ loop.index }}"
					required {{ 'checked' if session['answers'].get(index|str) == choice else '' }}>

                <label for="choice-{{ loop.index }}">{{ choice }}</label>
            </div>
            {% endfor %}
            {% if index < total_questions - 1 %}
            <button type="submit" name="next">Save and Next</button>
            {% else %}
            <button type="submit" name="submit_final">Submit Quiz</button>
            {% endif %}
        </form>
    </main>
</body>
</html>
