<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Intro - Haggling 101</title>
</head>
<body>
    <div class="navbar-container">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
                <div class="progress-indicator"></div>
            </li>
            <!-- The 'active' class is now on the 'Intro' indicator -->
            <li class="nav-item">
                <a href="/intro" class="nav-link">Intro</a>
                <div class="progress-indicator"></div>
            </li>
            <li class="nav-item">
                <a href="/strategies" class="nav-link">Strategies</a>
                <div class="progress-indicator active"></div>
            </li>
            <li class="nav-item">
                <a href="/quiz" class="nav-link">Quiz</a>
                <div class="progress-indicator"></div>
            </li>
        </ul>
        <div class="line"></div>
    </div>
    <main class="content">
        TO BE implemented
        <div class="next-arrow">></div>
    </main>
    <script>
        // JavaScript for the next-arrow click event to navigate to the next page
        document.querySelector('.next-arrow').addEventListener('click', function() {
            window.location.href = '/quiz'; // Assuming this is the next tutorial step
        });
    </script>
</body>
</html>
